* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}

a:visited {
  color: black;
}

p {
  text-align: justify;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .navbar .navbar__links__container {
  display: none;
}
.header .navbar .navbar__links__container a {
  text-decoration: none;
}
.header .navbar .burger {
  display: block;
  cursor: pointer;
}
.header .navbar .burger .burger__div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 4px 0;
  transition: all 0.3s ease;
}
.header .active .navbar__links__container {
  display: block;
}
.header .active .burger .burger__div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.header .active .burger .burger__div:nth-child(2) {
  opacity: 0;
}
.header .active .burger .burger__div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.header .logo-grd {
  display: none;
}
@media (min-width: 768px) {
  .header .navbar {
    width: 70%;
    display: flex;
    align-items: flex-start;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }
  .header .navbar .navbar__links__container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px 0 0 0;
  }
  .header .navbar .burger {
    display: none;
  }
  .header .logo-grd {
    display: block;
  }
}

.header {
  background-color: rgb(41, 69, 149);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header a {
  color: #fff;
}

.header__logo__text__container {
  width: 25%;
  padding: 10px;
}

.logo-grd {
  width: 200px;
  height: 120px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 236, 236);
}
.main__company-name {
  margin-top: 20px;
  font-weight: bold;
  font-size: 25px;
}
.main__image {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .main__image {
    width: 50%;
  }
}
.main__h1 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 20px;
  width: 75%;
  text-align: justify;
}
.main__h2 {
  margin: 20px 0;
  width: 90%;
  font-size: 1.2rem;
  text-align: justify;
}
.main__h3 {
  width: 80%;
  font-size: 1.2rem;
  text-align: justify;
}
.main__p {
  padding: 5px 20px;
}
.main__paragraph {
  width: 80%;
}

.image__text__element {
  margin-bottom: 20px;
}

.home__li {
  list-style-type: disc;
  margin-bottom: 10px;
}

.h3__p__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.also__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0 30px;
}

.footer__logo__tel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__links__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__link {
  margin-bottom: 10px;
  color: white;
}
.footer__p {
  margin-bottom: 10px;
}

.footer {
  margin-top: 50px;
  color: aliceblue;
  height: 300px;
  background-image: url(https://images.pexels.com/photos/2177473/pexels-photo-2177473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
}/*# sourceMappingURL=styles.css.map */